@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$color-1: #1e90ff;
$color-2: #ffed00;

body {
    .blue {
        background-color: $color-1;
    }
    .white {
        background-color: #fff;
    }
}

h1 {
    color: #fff;
    font-size: 30px;
}

.list-repos {
    min-height: 100vh;
    color: #fff;
    display: block;

    .fa-spinner {
        margin-top: 50px;
        margin-left: -20px;
        display: block;
        text-align: center;
        font-size: 30px;
    }

    .list-group {
        margin: 0;
    }

    .list-group-item {
        border-color: darken($color-1, 15%);
        background-color: darken($color-1, 10%);
        cursor: pointer;
        border-right: 0;
        text-transform: uppercase;

        &:hover {
            background-color: darken($color-1, 15%);
        }

        &:first-child, &:last-child {
            border-radius: 0;
        }
    }
}

h2 {
    font-size: 30px;
    text-align: right;
}

.info-repos {
    min-height: 100vh;
    padding: 20px;
    border-top: 3px solid #dedede;

    h3 {
        margin: 0;
        text-align: right;
    }

    .fa-star {
        color: $color-2;
    }

    .fa-code-fork {
        color: #999;
    }

    .fa-github {
        font-size: 500px;
        display: block;
        margin-top: 50px;
        color: #dedede;
        text-align: center;
    }
}

@media (max-width: $screen-sm) {
    h1, h2 {
        text-align: center;
    }

    .list-repos {
        min-height: auto;
    }

    .info-repos {
        min-height: auto;
        .fa-github {
            font-size: 200px;
        }
    }
}
